* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* this will cover the entire width of the parent */
    display: grid;
    /* this will cover only width of the content */
    /* display: inline-grid; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .3fr 1fr 1fr .3fr;
}

header,
footer {
    background: gray;
    height: 10vh;
}

header {
    margin-bottom: 15px;
    grid-column: 1/4;
    grid-row: 1/2;
}

footer {
    margin-top: 15px;
    grid-column: 1/4;
    grid-row: 4/5;
}

.a {
    background: red;
    grid-column: 1/3;
    height: 38vh;
}

.b {
    background: rgb(215, 132, 17);
    grid-column: 1/3;
    grid-row: 3/4;
    height: 38vh;
}

.c {
    background: yellow;
    grid-column: 3/4;
    grid-row: 2/4;
}

/* using media query for mobile devices */
@media (max-width: 600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header,
    footer,
    footer,
    .a,
    .b,
    .c {
        width: 100%;
        height: 19vh;
    }
}