* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: grid;
    grid-template-columns: .2fr .6fr .2fr;
    grid-template-rows: .3fr .4fr .3fr;
}

header,
footer {
    background: gray;
    height: 9vh;
}

header {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: 15px;
}

footer {
    margin-top: 15px;
    grid-column: 1/4;
    grid-row: 3/4;
}

.a {
    background-color: rgb(37, 252, 37);
    grid-column: 2/3;
    height: 75vh;

}

.b {
    background-color: rgb(28, 77, 28);
    grid-column: 1/2;
    grid-row: 2/3;
    height: 75vh;
}

.c {
    background-color: rgb(245, 245, 40);
    height: 75vh;
}

@media (max-width: 768px) {
    html {
        height: 100%;
    }

    body {
        display: grid;
        grid-template-rows: .1fr .5fr .3fr .1fr;
        grid-template-columns: 1fr 1fr;
    }

    header,
    footer {
        background: gray;
        height: 10vh;
    }

    footer {
        grid-row: 4/4;
    }

    header {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .a {
        background-color: rgb(37, 252, 37);
        grid-column: 1/3;
        grid-row: 2/3;
        height: 50vh;
    }

    .b {
        background-color: rgb(28, 77, 28);
        grid-column: 1/2;
        grid-row: 3/4;
        height: 30vh;
    }

    .c {
        background-color: rgb(245, 245, 40);
        grid-column: 2/3;
        grid-row: 3/4;
        height: 30vh;
    }

}

@media (max-width:375px) {
    html {
        height: 100%;
    }

    body {
        display: grid;
        grid-template-rows: .1fr .4fr .2fr .2fr .1fr;
        grid-template-columns: 1fr;
    }

    header,
    footer {
        background: gray;
        height: 9vh;
    }

    header {
        grid-row: 1/2;
    }

    .a {
        background-color: rgb(37, 252, 37);
        grid-row: 2/3;
        height: 38vh;
    }

    .b {
        background-color: rgb(28, 77, 28);
        grid-row: 3/4;
        height: 20vh;
    }

    .c {
        background-color: rgb(245, 245, 40);
        grid-row: 4/5;
        grid-column: 1/1;
        height: 20vh;
    }

    footer {
        grid-row: 5/6;
    }
}